<!-- ====================================
———	Warriors SECTION
===================================== -->
<section class="pt-9 pb-2 py-md-10 bg-stone" id="warriors" style="background-image: url(assets/img/background/avator-bg.png);">
    <div class="container">
        <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
            <span class="shape shape-left bg-danger"></span>
            <h2 class="text-white">Meet Our Warriors</h2>
            <span class="shape shape-right bg-danger"></span>
        </div>

        <blockquote class="blockquote">
            <p class="mb-0">
                CKD is a very challenging and difficult disease to live with. The people below have kindly shared their stories in the hope you'll gain some insight into their journeys. Everyone is different, but there are a lot of people out there who know what you're going through and may face in the future.
            </p>
            <p>
                If you feel you could share your story to help inspire others please <a class="text-danger" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> and send me your journey.
            </p>
        </blockquote>

        <div class="team-slider owl-carousel owl-theme wow fadeInUp" dir="ltr">


            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="/images/Warriors/Andrew.jpg" src="/images/Warriors/Andrew.jpg" alt="carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                        <ul class="list-unstyled mb-0 d-flex align-items-center h-100 justify-content-center">
                            <li class="mr-6">
                                <a href="http://www.livingwithdodgykidneys.com" target="_blank" class="text-white">
                                    <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="font-size-20 font-weight-medium d-block" href="http://www.livingwithdodgykidneys.com" target="_blank">Andrew</a>
                    <span class="text-white">Warrior</span>
                </div>
            </div>

            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <img class="card-img-top rounded-circle lazyestload" data-src="/images/Warriors/Adam.jpg" src="/images/Warriors/Adam.jpg" alt="carousel-img" />
                    <div class="card-img-overlay text-center rounded-circle">
                        <ul class="list-unstyled mb-0 d-flex align-items-center h-100 justify-content-center">
                            <li class="mr-6">
                                <a href="mailto:kidneydiseaseonline@gmail.com" class="text-white">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="mr-6">
                                <a href="http://www.twitter.com/ardliath" class="text-white">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="font-size-20 font-weight-medium d-block" asp-controller="Warrior" asp-action="Adam">Adam</a>
                    <span class="text-white">Dad</span>
                </div>
            </div>

            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="font-size-20 font-weight-medium d-block"></a>
                    <span class="text-white"></span>
                </div>
            </div>

            <div class="card card-hover card-transparent shadow-none">
                <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                    <div class="card-img-overlay text-center rounded-circle">
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="font-size-20 font-weight-medium d-block"></a>
                    <span class="text-white"></span>
                </div>
            </div>


            @*<div class="card card-hover card-transparent shadow-none">
            <div class="card-img-wrapper position-relative shadow-sm rounded-circle mx-auto">
                <img class="card-img-top rounded-circle lazyestload" data-src="assets/img/avator/avator-img2.jpg" src="assets/img/avator/avator-img2.jpg" alt="carousel-img" />
                <div class="card-img-overlay text-center rounded-circle">
                    <ul class="list-unstyled mb-0 d-flex align-items-center h-100 justify-content-center">
                        <li class="mr-4">
                            <a href="#" class="text-white">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-4">
                            <a href="#" class="text-white">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-4">
                            <a href="#" class="text-white">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="mr-4">
                            <a href="#" class="text-white">
                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body position-relative text-center pb-0">
                <a class="font-size-20 font-weight-medium d-block" href="teachers-details.html">Katrina Owen</a>
                <span class="text-white">History Teacher</span>
            </div>
        </div>*@


        </div>
    </div>
</section>