@{
    ViewData["Title"] = "About Medications";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Common Medications</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    CKD is a complex disease. On this page we've attempted to gather some of the common medications people are on so you have a basic familiarity with them. You should <span class="text-danger">always discuss your on medications with your doctor</span>. This page is for awareness only and cannot possibly cover all the medications or side effects.
                </p>
            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">
                    You should <span class="text-danger">never take medication which has not been prescribed by a doctor!</span>
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-purple" id="practical" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Common Medications</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-12 col-xl-12 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Sodium Chloride</h3>
                            <p>Sodium Chloride is basically salt water (with a very specific concentration - don't just make some yourself). A common symptom of failing kidneys is salt leakage, salt is needed to keep the body healthy so additional salt may be required to ensure the body has everything it needs.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-12 col-xl-12 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Sodium Bicabonate</h3>
                            <p>Sodium Bicarbonate is used to control the PH of the blood, renal patients often have quite acidic blood (and no, if you've been watching Alien recently you can't burn your way through walls and floors - although that would be cool), Sodium Bicarb is used to help balance the blood's PH.</p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-12 col-xl-12 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Trimethoprim</h3>
                            <p>Trimethoprim is an antibiotic which can often be given to renal patients in a prophylactic dose to help protect against urine infections.</p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-12 col-xl-12 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Cefalexin</h3>
                            <p>Cefalexin is an antibiotic which can often be given to renal patients in a prophylactic dose to help protect against urine infections.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<partial name="/Views/Shared/_SomethingToContribute.cshtml" />