@{
    ViewData["Title"] = "Renastep";
}



<section class="pt-9 pb-2 py-md-10 bg-purple" id="renastep" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Recipes using Renastep</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Recpies using Renastep is a booklet provided by dietitions intended for parents making meals for children with CKD. We have included some of the recipes from this booklet for your convenience. As with all CKD diets it is vital that you seek proper medical advice before following any restrictive recipes.
                </p>
            </blockquote>
        </div>
    </div>
</section>


<!-- ====================================
———	GALLERY
===================================== -->
<section class="py-8 py-md-10">
    <div class="container">
        <div id="gallery-grid">
            <div class="row grid">
                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/Cover.jpg" src="/images/RenastepBook/Cover.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-Cover.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/CurryPhoto.jpg" src="/images/RenastepBook/CurryPhoto.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-CurryPhoto.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/CurryRecipe.jpg" src="/images/RenastepBook/CurryRecipe.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-CurryRecipe.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/IceCreamPhoto.jpg" src="/images/RenastepBook/IceCreamPhoto.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-IceCreamPhoto.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/IceCreamRecipe.jpg" src="/images/RenastepBook/IceCreamRecipe.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-IceCreamRecipe.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/PancakePhoto.jpg" src="/images/RenastepBook/PancakePhoto.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-PancakePhoto.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 col-xs-12 element-item">
                    <div class="media media-hoverable justify-content-center">
                        <div class="position-relative w-100">
                            <img class="media-img w-100 lazyestload" data-src="/images/RenastepBook/PancakeRecipe.jpg" src="/images/RenastepBook/PancakeRecipe.jpg"
                                 alt="gallery-img">
                            <a class="media-img-overlay" data-fancybox="gallery" href="/images/RenastepBook/lg-PancakeRecipe.jpg">
                                <div class="btn btn-squre">
                                    <i class="fa fa-search-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
