@{
    ViewData["Title"] = "Support";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Support</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    CKD is a difficult disease to live with and its not uncommon for people living with the condition to need help. Be that emotional, practical, or financial. On this page we're gathering together the resources you may find helpful in the help you can access the help you need to thrive.
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>


<!-- ====================================
———	BOX SECTION
===================================== -->
<section class="d-none d-sm-block section-top">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-sm-4">
                <a href="#practical">
                    <div class="card bg-purple card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-purple">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Practical</h2>
                            <a href="#renastep" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="#emotional">
                    <div class="card bg-success card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-success">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Emotional</h2>
                            <a href="#emotional" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="#financial">
                    <div class="card bg-danger card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-danger">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Financial</h2>
                            <a href="#financial" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-purple" id="practical" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Practical Support</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    CKD makes things hard, below is a list of things we've compiled to ensure that you're getting the help where it's available.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-warning mr-xl-4">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-warning">Utilities Suppliers</h3>
                            <p>You should always ensure that your heating and electicity suppliers know if you're disabled, vulnerable, or on dialysis. You will be placed onto a certain list which means they will make sure to contact you prior to any disruption to service and help ensure your electricity is not interupted if you need it for medical care.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                @*<div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-pink mr-xl-4">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-pink">GHI</h3>
                            <p>LMN.</p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-success" id="emtional" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Emotional Support</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    There is emotional support avaiable for people fighting CKD. This isn't something you have to take on alone.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-purple mr-xl-4">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-purple">Clinic Counsellors</h3>
                            <p>Many renal clinics have a counsellor or counselling team. These professionals have extensive mental health experience as well as an intimate knowledge of CKD and the challenges which come associated with it.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-info mr-xl-4">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-info">Chronic Kidney Disease UK on Facebook</h3>
                            <p>There are various Facebook groups available, howevever you should definitely join <a class="text-body" target="blank" href="https://www.facebook.com/groups/1444648835635226" aria-hidden="true">Chronic Kidney Disease UK</a>, it is a huge network of CKD warriors and carers.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-info mr-xl-4">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-info">KDARS for Kids on Facebook</h3>
                            <p>If you are caring for a child who has CKD then you should consider joining <a class="text-body" target="blank" href="https://www.facebook.com/groups/750940214926395" aria-hidden="true">KDARS for Kids</a>, to discuss supporting children with CKD.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-danger" id="financial" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-white"></span>
                <h2 class="text-white">Financial Support</h2>
                <span class="shape shape-right bg-white"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Severe CKD can make it hard to work and reduce household income. You need to be aware of these pieces of information and websites to ensure you're not missing out on support you and your family are entitled to.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-warning mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-warning">Council Tax</h3>
                            <p>If you are using a room in your house to store medical supplies then you may be entitled to a council tax reduction. You should speak with your local council to see if you qualify.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-info mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-info">Utility Rates</h3>
                            <p>If you are using rooms in your home for medical treatment (such as dialysis) then you may be entitled to reduced utility rates. You should talk to your electricity, gas, and water suppliers.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-stone">Clinic Social Worker</h3>
                            <p>Most clinics have a social worker associated with them. These people have an in depth knowledge of the system as well as a deep understanding of the challenges CKD warriors can face. You should ask to be put in contact with the appropriate social worker to ensure you are not missing out on support which may make your life easier.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-success mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-success">Freedom Travel Pass</h3>
                            <p>Many local authorities offer a Freedom Travel Pass for travel for disabled and vulnerable people. You should investigate what is on offer in your area to see if you can get free public transport. This is especially helpful for all those clinic appointments!</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-warning mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-warning">Talk to People</h3>
                            <p>You should never be afraid or embaressed to talk to people at an establishment about your personal needs. Many establishments such as cinemas or restaurants may offer discounts or additional support such as seating near exits or bathrooms if they are aware of your situation.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-info mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-info">Money Advice Service</h3>
                            <p><a class="text-stone" target="blank" href="https://www.moneyadviceservice.org.uk/en/articles/financial-support-if-you-or-your-child-has-a-disability" aria-hidden="true">The Money Advice Service</a> has a whole page dedicated to financial support for disabled children. If it's your child rather than you who has CKD you should make sure you read it.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-stone">Working Familes</h3>
                            <p>The <a class="text-body" target="blank" href="https://workingfamilies.org.uk/articles/a-guide-to-benefits-for-disabled-children/" aria-hidden="true">Working Families Website</a> has a guide for what benefits are available for households which disabled children.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-success mr-xl-4">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-success">BenefitsAndWork.co.uk</h3>
                            <p>The website <a class="text-body" target="_blank" href="www.benefitsandwork.co.uk">www.benefitsandwork.co.uk</a> is very helpful to understand what kind of support and benefits you are entitled to and how to apply for them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <blockquote class="blockquote">
                <p class="mb-0">
                    Do you have any information which would help support those living with CKD? Why not <a class="text-danger" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> and share what you know?
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>

