@{
    ViewData["Title"] = "About CKD";
}


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">About CKD</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    KCD is a complex condition with many different causes. Some babies are born without kidneys, some people's renal function deteriorates in later life or as a result of illness. We can't regrow kidneys, however the condition can be managed and there are a number of treatment options available We'll discuss these further on this page.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    You should <span class="text-danger">always seek the advice of an experienced medical professional</span> if you have questions about CKD. This resource was not put together by doctors and is simply the combined experiences of different people with or close to the condition. <span class="text-danger">your renal team will be able to advise you based on your medical history and condition</span>.
                </p>
            </blockquote>
        </div>
    </div>
</section>



<!-- ====================================
———	Links
===================================== -->
<section class="pt-9 pb-7" id="links">
    <div class="container">
        <div class="row wow fadeInUp">


            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/Kidney.png" src="/images/Kidney.png" alt="A kidney">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="Kidneys">What do kidneys do?</a>
                        </h3>
                        <p class="mb-2">An overview of what the kidneys actually do within the body.</p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="Kidneys">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/ckd.png" src="/images/ckd.png" alt="A kidney">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="WhatIsCkd">What is CKD?</a>
                        </h3>
                        <p class="mb-2">Let's talk about CKD, what it is and how it impacts people.</p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="Ckd">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>

        

      


            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/ng-tube.png" src="/images/ng-tube.png" alt="A baby with a feeding tube">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="FeedingTubes">Feeding Tubes</a>
                        </h3>
                        <p class="mb-2">What are the various types of feeding tubes, what are they and why are they sometimes needed?</p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="FeedingTubes">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/PeritonealDialysis.png" src="/images/PeritonealDialysis.png" alt="A diagram of Peritoneal Dialysis">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="PeritonealDialysis">Peritoneal Dialysis</a>
                        </h3>
                        <p class="mb-2">What is Peritoneal Dialysis, how is it different to Haemodialysis and how does it help?</p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="PeritonealDialysis">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/Haemodialysis.png" src="/images/Haemodialysis.png" alt="A diagram of Haemodialysis">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="Haemodialysis">Haemodialysis</a>
                        </h3>
                        <p class="mb-2">
                            What is Haemodialysis, how is it different to Peritoneal Dialysis and how does it help?
                        </p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="Haemodialysis">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a asp-controller="About" asp-action="LivingDonor">
                            <img class="card-img-top lazyestload" data-src="/images/LivingDonor.png" src="/images/LivingDonor.png" alt="Someone considering being a living organ donor">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="LivingDonor">Living Donors</a>
                        </h3>
                        <p class="mb-2">
                            How can you donate to someone with CKD? What's the process and what does it entail?
                        </p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="LivingDonor">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/ReceivingAKidney.png" src="/images/ReceivingAKidney.png" alt="Someone who has recieved a kidney transplant">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="ReceivingAKidney">Receiving A Kidney Transplant</a>
                        </h3>
                        <p class="mb-2">
                            What happens when a CKD warrior recieves a transplant and how does it happen?
                        </p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="ReceivingAKidney">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>




            <div class="col-md-3">
                <div class="card">
                    <div class="position-relative">
                        <a href="blog-single-left-sidebar.html">
                            <img class="card-img-top lazyestload" data-src="/images/WithNewKidney.png" src="/images/WithNewKidney.png" alt="Someone who has recieved a kidney transplant">
                        </a>
                    </div>

                    <div class="card-body border-top-5 px-3 border-warning">
                        <h3 class="card-title">
                            <a class="text-warning text-capitalize d-block text-truncate" asp-controller="About" asp-action="LivingWithNewKidney">Living with a Transplanted Kidney</a>
                        </h3>
                        <p class="mb-2">
                            What is life like after getting a kidney?
                        </p>
                        <a class="btn btn-link text-hover-warning pl-0" asp-controller="About" asp-action="LivingWithNewKidney">
                            <i class="fa fa-angle-double-right mr-1" aria-hidden="true"></i> Find Out More
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>