@{
    ViewData["Title"] = "Feeding Tubes";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Feeding Tubes?</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    It can sometimes become necessary to use a feeding tube to support people with CKD, especially children. These are often essential and allow the easy administration of medicines as well as a way to get nutrition and nutrition in. With one of the common symptoms of CKD being sickness and dehydration being a severe risk factors it's easy to see why getting essential medicines and fluids into a patient is so essential.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    There are many different types of feeding tubes and its important that if you are being considered for one  <span class="text-danger">discuss the options with your doctor to understand what they recommend and how it will impact you</span>.
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>


<!-- ====================================
———	BOX SECTION
===================================== -->
<section class="d-none d-sm-block section-top">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-sm-6">
                <a href="#ngtube">
                    <div class="card bg-purple card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-warning">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">NG-Tubes</h2>
                            <a href="#symptoms" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#gastrostomytube">
                    <div class="card bg-success card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-success">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Gastrostomy Tubes</h2>
                            <a href="#causes" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-purple" id="ngtube" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">NG-Tubes</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    An NG Tube is a small tube which goes in through the nose, down through the throat and into the stomach. As with all feeding tubes they allow medicines and liquid food to be put directly into the stomach without the need to take it orally.
                </p>

                <p class="mb-0">
                    An NG Tube is less invasive than some of the other feeding tubes because it can be inserted by a trained nurse, parent, or carer and does not require surgery to insert or remove. It is often replaced every few weeks. However, it is more visible (as it comes out of the patient's nose) and can be dislodged by accident or severe vomiting.
                </p>

            </blockquote>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-success" id="gastrostomytube" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Gastrostomy Tubes</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    A Gastrostomy Tube is a tube which is inserted into the patient's stomach and then taken out through the stomach wall to the front of their abdomen. It is inserted surgically however does not need to be replaced as frequently as an ng-tube (typically a Gastrostomy Tube can remain in place for several years) and is clearly not as visible. However, as a surgical procedure is required to insert the tube patients often start with an ng-tube and then only progressed if necessary.
                </p>

              
            </blockquote>
        </div>
    </div>
</section>