@{
    ViewData["Title"] = "About Becoming a Living Donor";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Becoming a Living Donor</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Whenever possible living donors are preferred as the kidneys are often in better condition and the team can do proper screening an matching. It is not uncommon for parents and siblings to donate to someone with CKD.
                </p>
            </blockquote>
            <blockquote class="blockquote">

                <p class="mb-0">
                    The process for becoming a live donor varies from clinic to clinic however they often include:
                </p>
                <ul class="mb-0 text-white">
                    <li>Blood group matching</li>
                    <li>An ultrasound to assess the size and health of the kidneys</li>
                    <li>Kidney function tests</li>
                    <li>Antibody and tissue matching tests</li>
                </ul>
            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">
                    In order to donate you should be
                </p>

                <ul class="mb-0 text-white">
                    <li>Good general health</li>
                    <li>
                        Normal kidney function
                    </li>
                    <li>    Age 18 to 75 years</li>
                </ul>

            </blockquote>
            <blockquote class="blockquote">
                <p class="mb-0">
                    However you can often be ruled out if you have any of the following conditions
                </p>

                <ul class="mb-0 text-white">
                    <li>Hypertension (high blood pressure) requiring multiple medications</li>
                    <li>Cigarette smoking</li>
                    <li>Kidney disease</li>
                    <li>Obesity (BMI > 30)</li>
                    <li>Certain infectious diseases, such as hepatitis</li>
                    <li>Family history of diabetes - further tests will be required</li>
                    <li>Most forms of cancer</li>
                    <li>Some forms of heart disease</li>
                    <li>Some forms of psychiatric problems</li>
                    <li>On-going drug abuse</li>
                    <li>Kidney stones</li>
                </ul>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    You should expect to take 6-8 weeks off work post surgery. This is partly to recover from the operation, however also to give your body a chance to get used to managing with significantly reduced kidney functions. Should you need it there are some funds available to help support loss of earnings which your transplant coordinator should be able to help you with.
                </p>


                <p class="mb-0">
                    The Leeds Kidney Unit have a <a href="https://www.leedsth.nhs.uk/a-z-of-services/kidney-transplantation/live-kidney-transplantation-being-a-living-kidney-donor/" class="text-danger">very useful website</a> for anyone looking to donate. It includes more details about the criteria, information about the surgical process, and information about altruistic donations and swap schemes which exist.
                </p>


                <p class="mb-0">
                    If you are interested in becoming a kidney donor then you should contact your local renal transplant team or the team caring for the person you wish to donate to.
                </p>

            </blockquote>

            <br /><br /><br /><br />
        </div>
    </div>
</section>

<partial name="/Views/Shared/_SomethingToContribute.cshtml" />