@{
    ViewData["Title"] = "Living With A New Kidney";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Living With A New Kidney</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Receiving a kidney is intended to suppliment your own kidney function and improve your health. When successful, a transplant should have a huge impact on overall quality of life with many of the dietary restrictions lifted and dialysis should no longer be required.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Transplanted kidneys do not last indefinitely. A kidney from a live donor is expected to last 20-25 years and 15-20 years from a deceased donor. However this varies depending on the health and the age of the recipient, this is why it is so important to lead a healthy lifestyle when you have a transplanted organ.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Some form of rejection is not uncommon however this can often be managed through steroids and immunosuppressants. However, these are are a trade off leaving the recipient vulnerable to ilness and infection. Acute rejection is rare.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    For more information there's a list of FAQs on <a href="https://www.nhs.uk/conditions/kidney-transplant/living-with/" class="text-danger">the NHS site</a> or for a more American perspective there's <a href="https://www.kidney.org/atoz/content/kidney-transplant" class="text-danger">Kidney.org</a>.
                </p>
            </blockquote>

            <br /><br /><br /><br />
        </div>
    </div>
</section>

<partial name="/Views/Shared/_SomethingToContribute.cshtml" />