@{
    ViewData["Title"] = "About Living With A New Kidney";
}

<div class="text-center">
    <h1 class="display-4">About Living With A New Kidney</h1>
</div>
<div class="text-left">
Some Text

</div>
