@{
    ViewData["Title"] = "Receiving A Kidney";
}


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Receiving A Kidney</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Kidney donation can come either from a living or diseased donor. If someone comes forward to donate for you (and they are a match) then the procedure will be scheduled in advance and you will both be taken to theatre at a very similar time. If you have found a match through the Share Scheme then the operations generally take place at the same time and the organs are transported around the country from donor to recipient. This ensures everyone is at their local hospital.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    If the donation comes from a deceased donor then it is likely the person will have been involved in an accident. A phone call can come at any time in the day or night and you are asked to come into hospital.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    You can find out more about the donation process on the <a href="https://www.nhs.uk/conditions/kidney-transplant/" class="text-danger">NHS website</a>.
                </p>
            </blockquote>

            <br /><br /><br /><br />
        </div>
    </div>
</section>

<partial name="/Views/Shared/_SomethingToContribute.cshtml" />