@{
    ViewData["Title"] = "Understanding Results";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">
        <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
            <span class="shape shape-left bg-danger"></span>
            <h2 class="text-white">Understanding Results</h2>
            <span class="shape shape-right bg-danger"></span>
        </div>

        <blockquote class="blockquote">
            <p class="mb-0">
                The results you may get from the hospital are complex and often have different meanings depending on your age and level of kidney function. On this page we have attempted to link to various reputable sites which discuss what each of these results means. However, you should <span class="text-danger">always listen to medical professionals</span> when discussing your condition.
            </p>
            <p class="mb-0">
                Parents of children with CKD should be particuarly cautious, often the levels and tolerances are for adults and these can be very different children. <span class="text-danger">Your medical team will be able to give far better guidence on your results,</span> however a broad understanding of what the various things they measure always helps to get the most out of these conversations.
            </p>
        </blockquote>
    </div>
</section>

<section class="d-none d-sm-block section-top">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-sm-6">
                <a href="#patientview">
                    <div class="card bg-success card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-warning">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">PatientView Information</h2>
                            <a href="#patientview" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#links">
                    <div class="card bg-purple card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-success">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Useful Links</h2>
                            <a href="#links" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="pt-9 pb-2 py-md-10 bg-success" id="patientview" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">PatientView Information</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    PatientView is a website many hospital use so you can see your results and test results. This allows you to have access to all the information the doctors do. Their website also contains useful information around what the various levels mean, we have linked the pages below.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-purple mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-purple">Urea</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/urea.html">urea</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-pink mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-pink">Creatinine</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/creatinine.html">creatinine</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-danger mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-danger">Haemoglobin</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/haemoglobin.html">haemoglobin</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Phosphate</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/phosphate.html">phosphate</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-purple mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-purple">Potassium</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/potassium.html">potassium</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-pink mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-pink">Calcium</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/calcium.html">calcium</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-danger mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-danger">Sodium</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/sodium.html">sodium</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Blood Pressure</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/bp.html">blood pressure</a>.</p>
                        </div>
                    </div>
                </div>


                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-purple mr-xl-4">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-purple">PTH</h3>
                            <p>More information about <a class="text-body" target="_blank" aria-hidden="true" href="http://www.rixg.org/results/pth.html">PTH</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

<section class="pt-9 pb-2 py-md-10 bg-purple" id="links" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Useful Links</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    In addition to the information from PatentView we search for valuable resources across the web to help people understand their condition and results.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-success mr-xl-4">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-success">Edinburgh Renal Unit</h3>
                            <p>An information page provided by  issued <a class="text-body" target="_blank" href="https://edren.org/ren/edren-info/blood-tests-in-kidney-disease" aria-hidden="true">Edinburgh Renal Unit</a>.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-stone mr-xl-4">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-stone">Kidney Research UK</h3>
                            <p>The Kidney Research UK page has lots of information about <a class="text-body" target="blank" href="https://kidneyresearchuk.org/kidney-health-information/living-with-kidney-disease/how-can-i-help-myself/understanding-test-results" aria-hidden="true">understanding test results</a>.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xl-4 col-xs-12">
                    <div class="media mb-4">
                        <div class="media-icon-large bg-danger mr-xl-4">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-danger">Doctor Kathryn Griffith</h3>
                            <p>A page on healthtalk.org with videos of Dr Kathryn Griffith <a class="text-body" target="_blank" href="https://healthtalk.org/kidney-health/dr-kathryn-griffith" aria-hidden="true">discussing CKD and test results</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="mb-0">
                    Do you have any links which you find especially useful? Why not <a class="text-body" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> and share what you know?
                </p>
            </div>

        </div>
    </div>
</section>