@{
    ViewData["Title"] = "What Is CKD";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">What Is CKD?</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    The NHS <a href="https://www.nhs.uk/conditions/kidney-disease/" class="text-danger">describes kidney disease</a> as a long-term condition where the kidneys don't work as well as they should. It's a common condition often associated with getting older.

                    CKD can get worse over time and eventually the kidneys may stop working altogether, but this is uncommon. Many people with CKD are able to live long lives with the condition.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    If you believe you may be suffering from CKD or need advice managing your own condition you should <span class="text-danger">always seek the advice of an experienced medical professional</span>. This resource was not put together by doctors and is simply the combined experiences of different people with or close to the condition. <span class="text-danger">your renal team will be able to advise you based on your medical history and condition</span>.
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>


<!-- ====================================
———	BOX SECTION
===================================== -->
<section class="d-none d-sm-block section-top">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-sm-6">
                <a href="#symptoms">
                    <div class="card bg-purple card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-warning">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">What Are The Symptons?</h2>
                            <a href="#symptoms" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#causes">
                    <div class="card bg-success card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-success">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">What Causes CKD?</h2>
                            <a href="#causes" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-purple" id="symptoms" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">What are the Symptoms?</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    In the early stages CKD often has no symptoms. Your body has a natural over capacity so your kidney function can fall by a considerable percentage before you start to feel unwell.
                </p>

                <p class="mb-0">
                    As kidney function continues to fall patients often develop:

                    <ul class="text-white">
                        <li>tiredness</li>
                        <li>
                            swollen ankles, feet or hands
                        </li>
                        <li>
                            shortness of breath
                        </li>
                        <li>
                            feeling sick
                        </li>
                        <li>
                            blood in your pee (urine)
                        </li>
                    </ul>
                </p>

                <p class="mb-0">
                    If you believe you may be suffering from CKD and have not yet been diagnosed <span class="text-danger">you should speak with your GP</span>
                </p>
            </blockquote>
        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-success" id="causes" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">What causes CKD?</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    In many cases CKD has no cause. Some children are born with missing or failing kidneys. More commonly Chronic kidney disease is caused by other conditions that put a strain on the kidneys. Often it's the result of a combination of different problems.
                </p>

                <p class="mb-0">
                    CKD can be caused by:

                    <ul class="text-white">
                        <li>High Blood Pressure</li>
                        <li>Diabetes</li>
                        <li>Kidney infections</li>
                        <li>Certain medications</li>
                    </ul>
                </p>
            </blockquote>
        </div>
    </div>
</section>