@{
    ViewData["Title"] = "What Is CKD";
}

<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">What Is CKD?</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    KCD is a complex condition with many different causes. Some babies are born without kidneys, some people's renal function deteriorates in later life or as a result of illness. We can't regrow kidneys, however the condition can be managed and there are a number of treatment options available We'll discuss these further on this page.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    You should <span class="text-danger">always seek the advice of an experienced medical professional</span> if you have questions about CKD. This resource was not put together by doctors and is simply the combined experiences of different people with or close to the condition. <span class="text-danger">your renal team will be able to advise you based on your medical history and condition</span>.
                </p>
            </blockquote>
        </div>
    </div>
</section>

