@{
    ViewData["Title"] = "About CKD";
}


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">About CKD</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    KCD is a complex condition with many different causes. Some babies are born without kidneys, some people's renal function deteriorates in later life or as a result of illness. We can't regrow kidneys, however the condition can be managed and there are a number of treatment options available We'll discuss these further on this page.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    You should <span class="text-danger">always seek the advice of an experienced medical professional</span> if you have questions about CKD. This resource was not put together by doctors and is simply the combined experiences of different people with or close to the condition. <span class="text-danger">your renal team will be able to advise you based on your medical history and condition</span>.
                </p>
            </blockquote>
        </div>
    </div>
</section>


<div class="container">   

    <ul class="list-unstyled">
        <li class="media">
            <img class="mr-3" src="~/images/Kidney.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="Kidneys">
                        What do kidneys do?
                    </a>
                </h5>
                An overview of what the kidneys actually do within the body.
            </div>
        </li>
        <li class="media my-4">
            <img class="mr-3" src="~/images/ckd.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="Ckd">
                        What is CKD?
                    </a>
                </h5>
                Let's talk about CKD, what it is and how it impacts people.
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/Meds.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="Medications">
                        Common Medications
                    </a>
                </h5>
                Discuss some of the common medications CKD warriors take.
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/ng-tube.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="FeedingTubes">
                        Feeding Tubes
                    </a>
                </h5>
                What are the various types of feeding tubes, what are they and why are they sometimes needed?
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/PeritonealDialysis.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="PeritonealDialysis">
                        Peritoneal Dialysis
                    </a>
                </h5>
                What is Peritoneal Dialysis, how is it different to Haemodialysis and how does it help?
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/Haemodialysis.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="Haemodialysis">
                        Haemodialysis
                    </a>
                </h5>
                What is Haemodialysis, how is it different to Peritoneal Dialysis and how does it help?
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/LivingDonor.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="LivingDonor">
                        Living Donors
                    </a>
                </h5>
                How can you donate to someone with CKD? What's the process and what does it entail?
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/ReceivingAKidney.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="ReceivingAKidney">
                        Receiving A Kidney Transplant
                    </a>
                </h5>
                What happens when a CKD warrior recieves a transplant and how does it happen?
            </div>
        </li>
        <li class="media">
            <img class="mr-3" src="~/images/WithNewKidney.png" alt="Generic placeholder image">
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <a class="text-dark" asp-area="" asp-controller="About" asp-action="LivingWithNewKidney">
                        Living with a Transplanted Kidney
                    </a>
                </h5>
                What is life like after getting a kidney?
            </div>
        </li>
    </ul>
</div>