@{
    ViewData["Title"] = "About CKD";
}

<div class="text-center">
    <h1 class="display-4">About CKD</h1>
</div>
<div class="text-left">
    <p>KCD is a complex condition with many different causes. Some babies are born without kidneys, some people's renal function deteriorates in later life or as a result of illness. We can't regrow kidneys, however the condition can be managed and there are a number of treatment options available We'll discuss these further on this page.</p>
    <p>You should <span class="text-danger">always seek the advice of an experienced medical professional</span> if you have questions about CKD. This resource was not put together by doctors and is simply the combined experiences of different people with or close to the condition. <span class="text-danger">your renal team will be able to advise you based on your medical history and condition</span>.</p>


</div>
