@{
    ViewData["Title"] = "Community";
}

<div class="text-center">
    <h1 class="display-4">Community</h1>
</div>
<div class="text-left">
    

    <p>CKD is a difficult and complex conditions. It is isolating and difficult. I have found the support of two facebook groups invaluable over the last year, these are <a href="https://www.facebook.com/groups/1444648835635226">Chronic Kidney Disease UK</a> and <a href="https://www.facebook.com/groups/750940214926395">KDARS for Kids</a>. If you are struggling with CKD or are caring for a child who is and are not a member then I highly recommend you join today. There are thousands of people sharing advice and support, don't cut yourself off - join them! </p>
</div>
