@{
    ViewData["Title"] = "Community";
}


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Community</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    CKD is a difficult and complex conditions. It is isolating and difficult. I have found the support of two facebook groups invaluable over the last year, these are <a href="https://www.facebook.com/groups/1444648835635226">Chronic Kidney Disease UK</a> and <a href="https://www.facebook.com/groups/750940214926395">KDARS for Kids</a>. If you are struggling with CKD or are caring for a child who is and are not a member then I highly recommend you join today. There are thousands of people sharing advice and support, don't cut yourself off - join them!
                </p>
            </blockquote>


            <br /><br /><br /><br />
        </div>
    </div>
</section>

<partial name="/Views/Shared/_SomethingToContribute.cshtml" />