@{
    ViewData["Title"] = "Diets";
}


<section class="pt-9 pb-2 py-md-10 bg-stone" id="quote" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Dietary Advice</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Many sufferers of Kidney Disease are placed on special diets by their consultants and dieticians. As the kidneys play a key role in filtering and maintaining various levels in the blood when they fail to function effectively those levels must be maintained manually. You should <span class="text-danger">always take medical advice on diet</span> as an incorrect balance could leave you you with dangerously low or high levels of vital vitamins and minerals.
                </p>
            </blockquote>

            <blockquote class="blockquote">
                <p class="mb-0">
                    On this page we have gathered together information and links for various common diets used by people living with CKD. We hope that they will provide some inspiration at meal times.
                </p>
            </blockquote>
            <br /><br /><br /><br />
        </div>
    </div>
</section>


<!-- ====================================
———	BOX SECTION
===================================== -->
<section class="d-none d-sm-block section-top">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-sm-6">
                <a href="#renastep">
                    <div class="card bg-purple card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-warning">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Renastep Recipes</h2>
                            <a href="#renastep" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="#lowpandp">
                    <div class="card bg-success card-hover scrolling">
                        <div class="card-body text-center p-0">
                            <div class="card-icon-border-large border-success">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-white font-size-32 pt-1 pt-lg-5 pb-2 pb-lg-6 mb-0 font-dosis">Low Potassium and Phosphate Diets</h2>
                            <a href="#lowpandp" class="btn-scroll-down d-block pb-4 pb-lg-5">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>



<section class="pt-9 pb-2 py-md-10 bg-purple" id="renastep" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">
        
        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Renastep Recipes</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Renastep is a fomulation for children progressing from Renastart milk onto more adult diets..
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-12 col-xl-12 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-success mr-xl-4">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-success">Renastep Recipes</h3>
                            <p>An NHS issued <a class="text-body" asp-controller="About" asp-action="RenastepRecipes" aria-hidden="true">Renastep Recipes book</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="mb-0">
                    Do you have any recipes or information Renastep? Why not <a class="text-body" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> and share your ideas?
                </p>
            </div>

        </div>
    </div>
</section>


<section class="pt-9 pb-2 py-md-10 bg-success" id="lowpandp" style="background-image: url(/img/background/avator-bg.png);">
    <div class="container">

        <div class="container">
            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-white">Low Potassium and Phosphate Diets</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>

            <blockquote class="blockquote">
                <p class="mb-0">
                    Because the health kidneys maintain our levels of Potassium and Phosphate when their capacity is reduced these levels can very easily become too high. Doctors and Dieticians sometimes put patients on Low Potassium or low Phosphate diets to reduce the amount kidneys need to filter out.
                </p>
            </blockquote>


            <div class="row wow fadeInUp">
                <!-- Media -->
                <div class="col-sm-6 col-xl-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-purple mr-xl-4">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </div>

                        <div class="media-body">
                            <h3 class="text-purple">Great Ormond Street Hospital Advice</h3>
                            <p>Advice from GOSH on eating a <a class="text-body" target="_blank" href="https://media.gosh.nhs.uk/documents/Reducing_your_potassium_intake_C0311_FINAL_Mar20.pdf" aria-hidden="true">a low Potassium Diet</a>.</p>
                        </div>
                    </div>
                </div>

                <!-- Media -->
                <div class="col-sm-6 col-lg-6 col-xs-12">
                    <div class="media mb-6">
                        <div class="media-icon-large bg-pink mr-xl-4">
                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="text-pink">Renal Recipes</h3>
                            <p>Take a look at <a class="text-body" target="_blank" href="http://www.instagram.com/renalrecipes">RenalRecipes on Instagram</a>. It is created by Phillipa, one of our community.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <p class="mb-0">
                    Do you have any recipes or information for low potassium or phosphate diets? Why not <a class="text-body" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> and share your ideas?
                </p>
            </div>
        </div>
    </div>
</section>