@{
    ViewData["Title"] = "Get Involved";
}

<div class="text-center">
    <h1 class="display-4">Get Involved</h1>
</div>
<div class="text-left">

    <div>
        <h3>I want to support people with CKD</h3>
        <p>If you're hoping to fundraise for CKD then I'd encourage you to take a look at <a href="https://www.kidneycareuk.org/">Kidney Care UK</a>, they have a wide range of fund raising ideas. Alternatively try getting in touch with your local renal ward and asking about their fund raising. Every donation makes a huge difference!</p>
    </div>
    
    <div>
        <h3>
            I want to help build the site
        </h3>
        <p>If you're looking for how you can help and develop this site then you're my new best friend!</p>

        <p>I am using a website called <a href="https://github.com/ardliath/ckd">GitHub to create this website</a>, every time a change is made it is automatically updated (with a few security steps). For those familiar with GitHub and the technologies involved please do feel free to have a look at our <a href="https://github.com/ardliath/ckd/issues">Issues List</a> and raise a Pull Request. However, if you're not a geek and want to share information in a more human manner I want to make it as easy as possible for you to add information to this site, the best way I can think of doing that is for you to email me at <a href="mailto:kidneydiseaseonline@gmail.com">kidneydiseaseonline@gmail.com</a> and I will do my best to add it to the site.</p>

        <p>What I need more than anything at this point is content. Information about CKD,  stories of your experience of the condition, and any pictures you are comfortable to share. I want this to be a community site, not a formal charity or medical page and I need stories from people to be able to do that. Oh, unless you're a talented web designer in which case I urgently need your skills to help make the site a little prettier!?</p>

    </div>    
</div>
