@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Chronic Kidney Disease Online</h1>
        <div class="bg-warning">
            <h3>UNDER CONSTRUCTION</h3>
        </div>        
    </div>
    <div class="text-left">
        <p>Welcome to my page on Chronic Kidney Disease (CKD), excuse our mess while the site is being built. If you want to help then please do <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a>.</p>

        <blockquote class="blockquote text-right">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>


        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>What Is CKD?</h3>
                    <p class="mb-0">CKD or Chronic Kidney Disease is...</p>
                </div>
                <div class="col-sm">
                    What is this site about?
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
