@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Chronic Kidney Disease Online</h1>
        <div class="bg-warning">
            <h3>UNDER CONSTRUCTION</h3>
        </div>        
    </div>
    <div class="text-left">
        <p>Welcome to my page on Chronic Kidney Disease (CKD), excuse our mess while the site is being built. If you want to help then please do <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a>.</p>

        <blockquote class="blockquote text-right">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>


        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>What Is CKD?</h3>
                    <p class="mb-0">CKD or Chronic Kidney Disease is a long-term condition where the kidneys don't work as well as they should. More than 1.8 million people in England have diagnosed chronic kidney disease (CKD). In addition, there are thought to be around a million people who have the condition but are undiagnosed.</p>
                </div>
                <div class="col-sm">
                    <h3>What is this site about?</h3>
                    <p>My son was born with end stage kidney failure in 2020 and my wife and I have given everything we have to support him ever since. However that journey has been far from easy, often we learned things as we went along and struggled to know what was best. This site is an attempt to capture and share some of what we (and other CKD families) have learned to help everyone living with CKD.</p>
                </div>
                <div class="col-sm">
                    <h3>How can you help?</h3>
                    <p>I am a software professional and parent, I'm not a doctor nor do I live with CKD day to day. But I want to build a useful resource for kidney warriors and their families. If I'm going to achieve this I need your help and support. Please consider taking a look at the <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> page to see how you can help out.</p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">                
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
