@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Chronic Kidney Disease Online</h1>
        <div class="bg-warning">
            <h3>UNDER CONSTRUCTION</h3>
            <p>Welcome to my page on Chronic Kidney Disease (CKD), excuse our mess while the site is being built. If you want to help then please do <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a>.</p>
        </div>        
    </div>
    <div class="text-left">        
        <blockquote class="blockquote">
            <p class="mb-0">
                People with CKD have a gradual loss of kidney function over time. The kidneys become less
                effective at filtering waste products from blood; water, waste and toxic substances therefore
                accumulate in the body. A minority of people with CKD suffer complete kidney failure, and require
                renal replacement therapy (RRT): dialysis or transplant. People with CKD are also at increased risk of
                stroke, heart attack, bone disease and other conditions.
            </p>
            <footer class="blockquote-footer text-right">
                Chronic Kidney
                Disease in England:
                The Human and
                Financial Cost - 
                <cite title="Source Title">Marion Kerr, Insight Health Economics</cite>
            </footer>
        </blockquote>


        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>What Is CKD?</h3>
                    <p class="mb-0">
                        CKD or Chronic Kidney Disease is a long-term condition where the kidneys don't work as well as they should. More than 1.8 million people in England have diagnosed chronic kidney disease (CKD). In addition, there are thought to be around a million people who have the condition but are undiagnosed.
                    </p>
                </div>
                <div class="col-sm">
                    <h3>What is this site about?</h3>
                    <p>My son was born with end stage kidney failure in 2020 and my wife and I have given everything we have to support him ever since. However that journey has been far from easy, often we learned things as we went along and struggled to know what was best. This site is an attempt to capture and share some of what we (and other CKD families) have learned to help everyone living with CKD.</p>
                </div>
                <div class="col-sm">
                    <h3>How can you help?</h3>
                    <p>I am a software professional and parent, I'm not a doctor nor do I live with CKD every day. But I want to build a useful resource for kidney warriors and their families. If I'm going to achieve this I need your help and support. Please consider taking a look at the <a class="text-dark" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a> page to see how you can help out.</p>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">                
                <div class="col-sm">
                    <h3>The Need For Support</h3>
                    <p>CKD is a difficult and complex conditions. It is isolating and difficult. I have found the support of two facebook groups invaluable over the last year, these are <a href="https://www.facebook.com/groups/1444648835635226">Chronic Kidney Disease UK</a> and <a href="https://www.facebook.com/groups/750940214926395">KDARS for Kids</a>. If you are struggling with CKD or are caring for a child who is and are not a member then I highly recommend you join today. There are thousands of people sharing advice and support, don't cut yourself off - join them! </p>
                </div>
                <div class="col-sm">
                    <blockquote class="blockquote text-left">
                        <p class="mb-0">My son's condition was completely misdiagnosed during pregnancy, we were prepared for a risk of PUV, not stage 5 kidney failure. Spending two weeks living in NICU was hard, seeing our premature baby hooked up to every machine monitoring his lifesigns 24/7 while they stabilised him was was harrowing. But we made it through, or rather I should say he fought his way though. He celebrated his first birthday recently and continues to defy all the consultants' expectations of him. I've never imagined being as proud of anyone as I am of our little warrior.</p>
                        <footer class="blockquote-footer text-right"><cite title="Source Title">Adam's Story</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
