@{
    ViewData["Title"] = "Support";
}

<div class="text-center">
    <h1 class="display-4">Support</h1>
</div>
<div class="text-left">

    <p>On this page I want to talk about the support that's out there practical, medical, emotional, and financial.</p>

</div>
