@{
    ViewData["Title"] = "Adam's Story";
}

<br />
<br />
<div class="container">
    <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
        <span class="shape shape-left bg-danger"></span>
        <h2 class="text-danger">Adam's Story</h2>
        <span class="shape shape-right bg-danger"></span>
    </div>
    <div class="text-left mb-0">
        My son's condition was completely misdiagnosed during pregnancy, we were prepared for a risk of PUV, not stage 5 kidney failure. Spending two weeks living in NICU was hard, seeing our premature baby hooked up to every machine monitoring his lifesigns 24/7 while they stabilised him was was harrowing. But we made it through, or rather I should say he fought his way though. He celebrated his first birthday recently and continues to defy all the consultants' expectations of him. I've never imagined being as proud of anyone as I am of our little warrior.
    </div>
</div>
<br />
<br />
<br />