@{
    ViewData["Title"] = "Adam's Story";
}


<section class="py-8 py-md-10">
    <div class="container">

        <div class="card shadow-none bg-transparent mb-0">

            <div class="section-title justify-content-center mb-2 mb-md-8 wow fadeInUp">
                <span class="shape shape-left bg-danger"></span>
                <h2 class="text-danger">Adam's Story</h2>
                <span class="shape shape-right bg-danger"></span>
            </div>


            <div class="card-body p-3 p-md-5">

                <p class="">
                    My son's condition was completely misdiagnosed during pregnancy, we were prepared for a risk of PUV, not stage 5 kidney failure. Spending two weeks living in NICU was hard, seeing our premature baby hooked up to every machine monitoring his lifesigns 24/7 while they stabilised him was was harrowing. But we made it through, or rather I should say he fought his way though.
                </p>

                <p class="">
                    Learning how to becoming a dad during lockdown was always going to be challenging, but add into that the intense medical needs and it was very difficult. Often my wife would go to clinic and be told of medication changes which I'd have to pick up second hand because they could only allow one parent in the room for consultations. One time I was even dialed to discuss the a surgical procedure in more detail in case I had any questions. I've spent more time discussing work projects, I still don't know what the man who cut into my son looks like.
                </p>

                <p class="">
                    The exhaustion was complete. Our routine changed as the young man grew, some times I'd be up with him until 2am and then up again at 6. Others I'd go to bed and then be up at 4am to start his feed. My wife and I felt like ships in the night, I was working so often we'd only actually see each other for about half an hour before one of us would go to bed so they could do the early shift.
                </p>               

                <p>
                    Never underestimate the impact lockdown has had on children and parents in hospitals. When our son was re-admitted because his levels were not under control or because he was fighting an infection I could go a week without seeing either him or my wife, only picking up bags of laundry and dropping off what I'd washed. I remember a couple of time's I'd meet deliveroo drivers outside the hospital and then pass the takeaways through the doors because parents were not given meals on the wards.
                </p>

                <p>
                    What has amazed me most is how resiliant he's been. He had more surgeries in this first day of life, than I've ever had. It took him a little time to roll over onto his front but now there's no stopping him. He shouts "dadada" and "ummmm" all day long in his happy little babble. You have to appreciate those times, because there are others - such as when you're holding him down as he screams so someone can shove an ng-tube down his throat you need to hold onto them.
                </p>

                <p class="">
                    Baby G celebrated his first birthday recently and continues to defy all the consultants' expectations of him. I've never imagined being as proud of anyone as I am of our little warrior. I'm being worked up as an donor and, if I'm lucky I may be able to help give him a fighting chance at a normal childhood.
                </p>
            </div>
        </div>
    </div>
</section>